rust/target
rust_con/target
go/related
go_con/related_concurrent
odin/main
related_*.json
.DS_Store
.vscode/settings.json
venv/
__pycache__/
.idea/
python/*.py.pclprof
crystal/lib/
crystal/.shards/
*.dwarf
crystal/crystal
ols.json
odin/related
.dart_tool/
v/related

# Java
java/target
java/.idea
java/*.iml
.idea/

# Zig
zig-cache
zig/main
zig/main.o

.vscode
dart/related
nim/src/nim
nim/src/related

.fake
cpp/main
